html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font: 14px/20px Arial, sans-serif;
}
.wrapper .header {
  width: 100%;
}
.wrapper .header .top-header-row {
  background-color: #008acc;
}
.wrapper .header .top-header-row p {
  margin: 0 !important;
}
.wrapper .header .top-header-row .btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: #2e6da4;
  padding: 6px 0;
  border: none !important;
  box-shadow: none;
}
.wrapper .header .top-header-row .btn {
  display: inline-block;
  padding: 6px 0;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 100;
  line-height: 1.42857143;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none !important;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: none;
  letter-spacing: .1em;
}
.wrapper .header .top-header-row .non-dropdown:hover {
  text-decoration: underline;
}
.wrapper .header .top-header-row .btn:focus {
  outline: none;
  background: transparent;
}
.wrapper .header .top-header-row .btn:active {
  outline: none;
  background: transparent;
  box-shadow: none;
}
.wrapper .header .top-header-row .btn:active:focus {
  outline: none;
}
.wrapper .header .top-header-row .dropdown-btn {
  border: none;
  color: #FFF;
  background-color: transparent;
  text-transform: uppercase;
}
.wrapper .header .top-header-row .open > .dropdown-toggle.btn-default:focus,
.wrapper .header .top-header-row .open > .dropdown-toggle.btn-default:hover {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
}
.wrapper .header .top-header-row .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.wrapper .header .middle-header-row {
  background-color: #0083c1;
}
.wrapper .header .middle-header-row .search {
  padding-top: 3px;
}
.wrapper .header .middle-header-row .search .form-control {
  display: block;
  width: 100%;
  height: 44px;
  padding: 7px 12px;
  font-size: 14px;
  font-weight: lighter !important;
  line-height: 1.42857143;
  color: #ffffff;
  background-color: #006393;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.wrapper .header .middle-header-row .search .search-btn {
  padding-right: 15px;
  padding-left: 15px;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
.wrapper .header .middle-header-row .search .category-btn {
  border-radius: 0 !important;
}
.wrapper .header .middle-header-row .btn-primary {
  color: #fff;
  background-color: #006393;
  padding: 11px 0;
  border: 1px solid #006393;
  box-shadow: none;
}
.wrapper .header .middle-header-row .open > .dropdown-toggle.btn-primary:focus,
.wrapper .header .middle-header-row .open > .dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #006393;
  border-color: transparent;
}
.wrapper .header .middle-header-row .btn:focus {
  outline: none;
  background-color: #006393;
}
.wrapper .header .middle-header-row .btn:active {
  outline: none;
  background-color: #006393;
  box-shadow: none;
}
.wrapper .header .middle-header-row .btn:active:focus {
  outline: none;
}
.wrapper .header .middle-header-row .shopping-cart {
  background-color: transparent !important;
  border: none;
}
.wrapper .header .middle-header-row .shopping-cart:focus {
  outline: none;
  background-color: transparent !important;
}
.wrapper .header .middle-header-row .shopping-cart:active {
  outline: none;
  background-color: transparent !important;
  box-shadow: none;
}
.wrapper .header .middle-header-row .shopping-cart:active:focus {
  outline: none;
  background-color: transparent !important;
}
.wrapper .header .middle-header-row .shopping-cart:hover {
  text-decoration: underline;
}
.wrapper .header .middle-header-row .icon-button {
  background-color: transparent !important;
  border: none;
}
.wrapper .header .middle-header-row .icon-button:focus {
  outline: none;
  background-color: transparent !important;
}
.wrapper .header .middle-header-row .icon-button:active {
  outline: none;
  background-color: transparent !important;
  box-shadow: none;
}
.wrapper .header .middle-header-row .icon-button:active:focus {
  outline: none;
  background-color: transparent !important;
}
.wrapper .header .middle-header-row .icon-button:hover {
  text-decoration: underline;
}
.wrapper .header .middle-header-row .contact-button {
  background-color: transparent !important;
  border: none;
}
.wrapper .header .middle-header-row .contact-button:focus {
  outline: none;
  background-color: transparent !important;
}
.wrapper .header .middle-header-row .contact-button:active {
  outline: none;
  background-color: transparent !important;
  box-shadow: none;
}
.wrapper .header .middle-header-row .contact-button:active:focus {
  outline: none;
  background-color: transparent !important;
}
.wrapper .header .middle-header-row .contact-button:hover {
  text-decoration: underline;
}
.wrapper .header .bottom-header-row {
  background-color: #006fa4;
}
.wrapper .header .bottom-header-row .navbar-default .navbar-nav > .open > a,
.wrapper .header .bottom-header-row .navbar-default .navbar-nav > .open > a:hover,
.wrapper .header .bottom-header-row .navbar-default .navbar-nav > .open > a:focus,
.wrapper .header .bottom-header-row .navbar-default .navbar-nav > .open > a:active {
  background-image: none;
  color: #fff;
  background-color: transparent;
}
.wrapper .header .bottom-header-row nav > .active > a,
.wrapper .header .bottom-header-row .navbar-default .navbar-nav > .open > a {
  /* background-repeat: repeat-x; */
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wrapper .header .bottom-header-row nav {
  background-color: transparent;
}
.wrapper .header .bottom-header-row .transparent {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.wrapper .header .bottom-header-row .navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: none;
}
.wrapper .header .bottom-header-row .navbar-default {
  background-color: transparent !important;
  border-color: transparent;
}
.wrapper .header .bottom-header-row .navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.wrapper .content {
  padding-bottom: 90px;
}
.wrapper .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #3498DB;
}
@media only screen and (max-width: 767px) {
  .header {
    width: 100%;
  }
  .header .top-header-row {
    padding: 0;
  }
  .header .top-header-row .col-xs-2 {
    text-align: left;
    padding-left: 15px;
  }
  .header .top-header-row .col-xs-3 {
    text-align: left;
    padding-left: 0;
  }
  .header .top-header-row .col-xs-4 {
    text-align: right;
  }
  .header .middle-header-row {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-right: 0;
    padding-left: 0;
  }
  .header .middle-header-row .logo {
    text-align: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    width: 100%;
  }
  .header .top-header-row {
    padding: 5px 10px;
  }
  .header .top-header-row .col-sm-2 {
    text-align: center;
  }
  .header .middle-header-row {
    padding: 2% 0;
  }
  .header .middle-header-row .logo {
    text-align: center;
    padding-left: 20px;
  }
  .header .middle-header-row .login {
    text-align: right;
  }
  .header .middle-header-row .wishlist {
    text-align: right;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1599px) {
  .header {
    width: 100%;
  }
  .header .top-header-row {
    padding: 5px 10%;
    border: 1px solid black;
  }
  .header .top-header-row .col-lg-1 {
    text-align: center;
  }
  .header .top-header-row .blog {
    text-align: right;
    padding-right: 0 !important;
  }
  .header .top-header-row .currency {
    text-align: right;
  }
  .header .top-header-row .wishlist {
    padding: 0 0 0 20px;
    display: inline-block;
    width: inherit;
  }
  .header .top-header-row .login {
    padding: 0 0 0 20px;
    display: inline-block;
    width: inherit;
  }
}
@media only screen and (min-width: 1600px) {
  .header {
    width: 100%;
  }
  .header .top-header-row {
    padding: 5px 20%;
    border: 1px solid black;
  }
  .header .top-header-row .blog {
    text-align: right;
    padding-right: 0 !important;
  }
  .header .top-header-row .currency {
    text-align: right;
  }
  .header .top-header-row .wishlist {
    padding: 0 0 0 20px;
    display: inline-block;
    width: inherit;
  }
  .header .top-header-row .login {
    padding: 0 0 0 20px;
    display: inline-block;
    width: inherit;
  }
  .header .middle-header-row {
    padding: 5px 20%;
    border: 1px solid black;
  }
  .header .middle-header-row .blog {
    text-align: right;
    padding-right: 0 !important;
  }
  .header .middle-header-row .currency {
    text-align: right;
  }
  .header .middle-header-row .wishlist {
    padding: 0 0 0 20px;
    display: inline-block;
    width: inherit;
  }
  .header .middle-header-row .login {
    padding: 0 0 0 20px;
    display: inline-block;
    width: inherit;
  }
}
