* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  width: 60%;
  min-height: 100%;
  margin: 0 auto;
  background: #F5F7FA;
  font: 14px/20px Arial, sans-serif;
}
.wrapper .header .header-top {
  background-color: #008acc;
  padding: 5px 0;
}
.wrapper .header .header-top .stores,
.wrapper .header .header-top .contact,
.wrapper .header .header-top .wishlist {
  display: inline-block;
  width: inherit;
  text-align: center;
}
.wrapper .header .header-top .login,
.wrapper .header .header-top .currency,
.wrapper .header .header-top .lang {
  text-align: center;
  display: inline-block;
  width: inherit;
  float: right;
}
.wrapper .header .header-top p {
  margin: 0 !important;
}
.wrapper .header .header-top .btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: #2e6da4;
  padding: 6px 0;
  border: none !important;
  box-shadow: none;
}
.wrapper .header .header-top .btn {
  display: inline-block;
  padding: 6px 0;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 100;
  line-height: 1.42857143;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none !important;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: none;
  letter-spacing: .1em;
}
.wrapper .header .header-top .non-dropdown:hover {
  text-decoration: underline;
}
.wrapper .header .header-top .btn:focus {
  outline: none;
  background: transparent;
}
.wrapper .header .header-top .btn:active {
  outline: none;
  background: transparent;
  box-shadow: none;
}
.wrapper .header .header-top .btn:active:focus {
  outline: none;
}
.wrapper .header .header-top .dropdown-btn {
  border: none;
  color: #FFF;
  background-color: transparent;
  text-transform: uppercase;
}
.wrapper .header .header-top .open > .dropdown-toggle.btn-default:focus,
.wrapper .header .header-top .open > .dropdown-toggle.btn-default:hover {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
}
.wrapper .header .header-top .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.wrapper .header .header-mid {
  background-color: #0083c1;
}
.wrapper .header .header-mid .search-block {
  padding: 5px 0 0 0 ;
}
.wrapper .header .header-mid .search-block .form-control {
  display: block;
  width: 100%;
  height: 44px;
  padding: 12px 12px;
  font-size: 14px;
  font-weight: 100 !important;
  line-height: 1.42857143;
  color: #ffffff;
  background-color: #006393;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.wrapper .header .header-mid .search-block .search-btn {
  padding-right: 15px;
  padding-left: 15px;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
.wrapper .header .header-mid .search-block .category-btn {
  border-radius: 0 !important;
}
.wrapper .header .header-mid .btn-primary {
  color: #fff;
  background-color: #006393;
  padding: 11px 15px 11px 5px;
  border: 1px solid #006393;
  box-shadow: none;
  background-image: none !important;
}
.wrapper .header .header-mid .open > .dropdown-toggle.btn-primary:focus,
.wrapper .header .header-mid .open > .dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #006393;
  border-color: transparent;
}
.wrapper .header .header-mid .btn:focus {
  outline: none;
  background-color: #006393;
}
.wrapper .header .header-mid .btn:active {
  outline: none;
  background-color: #006393;
  box-shadow: none;
}
.wrapper .header .header-mid .btn:active:focus {
  outline: none;
}
.wrapper .header .header-mid .shopping-cart {
  background-color: transparent !important;
  border: none;
}
.wrapper .header .header-mid .shopping-cart:focus {
  outline: none;
  background-color: transparent !important;
}
.wrapper .header .header-mid .shopping-cart:active {
  outline: none;
  background-color: transparent !important;
  box-shadow: none;
}
.wrapper .header .header-mid .shopping-cart:active:focus {
  outline: none;
  background-color: transparent !important;
}
.wrapper .header .header-mid .shopping-cart:hover {
  text-decoration: underline;
}
.wrapper .header .header-mid .icon-button {
  background-color: transparent !important;
  border: none;
}
.wrapper .header .header-mid .icon-button:focus {
  outline: none;
  background-color: transparent !important;
}
.wrapper .header .header-mid .icon-button:active {
  outline: none;
  background-color: transparent !important;
  box-shadow: none;
}
.wrapper .header .header-mid .icon-button:active:focus {
  outline: none;
  background-color: transparent !important;
}
.wrapper .header .header-mid .icon-button:hover {
  text-decoration: underline;
}
.wrapper .header .header-mid .contact-button {
  background-color: transparent !important;
  border: none;
}
.wrapper .header .header-mid .contact-button:focus {
  outline: none;
  background-color: transparent !important;
}
.wrapper .header .header-mid .contact-button:active {
  outline: none;
  background-color: transparent !important;
  box-shadow: none;
}
.wrapper .header .header-mid .contact-button:active:focus {
  outline: none;
  background-color: transparent !important;
}
.wrapper .header .header-mid .contact-button:hover {
  text-decoration: underline;
}
.wrapper .header .content {
  padding-bottom: 90px;
}
.wrapper .header .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #3498DB;
}
@media only screen and (max-width: 767px) {
  .header {
    width: 100%;
  }
  .header .top-header-row {
    padding: 0;
  }
  .header .top-header-row .col-xs-2 {
    text-align: left;
    padding-left: 15px;
  }
  .header .top-header-row .col-xs-3 {
    text-align: left;
    padding-left: 0;
  }
  .header .top-header-row .col-xs-4 {
    text-align: right;
  }
  .header .middle-header-row {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-right: 0;
    padding-left: 0;
  }
  .header .middle-header-row .logo {
    text-align: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    width: 100%;
  }
  .header .top-header-row {
    padding: 5px 10px;
  }
  .header .top-header-row .col-sm-2 {
    text-align: center;
  }
  .header .middle-header-row {
    padding: 2% 0;
  }
  .header .middle-header-row .logo {
    text-align: center;
    padding-left: 20px;
  }
  .header .middle-header-row .login {
    text-align: right;
  }
  .header .middle-header-row .wishlist {
    text-align: right;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1599px) {
  .header {
    width: 100%;
  }
  .header .top-header-row {
    padding: 5px 10%;
    border: 1px solid black;
  }
  .header .top-header-row .col-lg-1 {
    text-align: center;
  }
  .header .top-header-row .blog {
    text-align: right;
    padding-right: 0 !important;
  }
  .header .top-header-row .currency {
    text-align: right;
  }
  .header .top-header-row .wishlist {
    padding: 0 0 0 20px;
    display: inline-block;
    width: inherit;
  }
  .header .top-header-row .login {
    padding: 0 0 0 20px;
    display: inline-block;
    width: inherit;
  }
}
@media only screen and (min-width: 1600px) {
  .header {
    width: 100%;
  }
  .header .header-top {
    padding: 5px 0;
  }
  .header .header-mid {
    padding: 15px 0;
  }
  .header .header-mid .cart {
    text-align: right;
    padding-right: 0 !important;
    display: inline-block;
  }
  .header .header-mid .cart .shopping-cart .cartIcon {
    font-size: 24pt;
    padding: 0 !important;
    margin: 0 !important;
  }
  .header .header-mid .cart .shopping-cart .cart-items {
    background-color: transparent;
    color: #0083c1;
    position: relative;
    top: -13px;
    left: 27px;
    padding: 0;
    z-index: 1;
  }
  .header .header-mid .cart .shopping-cart .cart-items:hover {
    text-decoration: none;
  }
}
